#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.comment-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.comment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  min-width: 1000px;
  max-width: 1000px;
  font-weight: 400px;
  padding: 20px;
  gap: 20px;
}

img {
  max-height: 200px;
}

button {
  font-size: 15px;
  font-weight: bold;
}

main-body {
  gap: 30px;
}

.add-comment input {
  width: 300px;
  height: 50px;
}

.add-comment button {
  width: 100px;
  height: 50px;
}

.add-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
